<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/tools"
        android:label="Rastgele Araçlar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RandomTools"
        tools:targetApi="31" >
        <activity
            android:name=".LinkKaydetActivity"
            android:exported="false"
            android:label="Link Kaydet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinklerimActivity"
            android:exported="false"
            android:label="Linklerim"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IBANKaydetActivity"
            android:exported="false"
            android:label="IBAN Kaydet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IBANActivity"
            android:exported="false"
            android:label="Kayıtlı IBAN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SifreKaydetActivity"
            android:exported="false"
            android:label="Şifre Kaydet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SifrelerActivity"
            android:exported="false"
            android:label="Şifrelerim"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="api" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="Yeni Yer Ekle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FavoriYerActivity"
            android:exported="false"
            android:label="Favori Yerler"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListeActivity"
            android:exported="false"
            android:label="Liste Hesapla"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZamanSayarActivity"
            android:exported="false"
            android:label="Zaman Sayaçları"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KiloActivity"
            android:exported="false"
            android:label="İdeal Kilo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParaSayActivity"
            android:exported="false"
            android:label="Para Sayar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YuzdelikActivity"
            android:exported="false"
            android:label="Yüzdelik Hesaplar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HesapMakinesiActivity"
            android:exported="false"
            android:label="Hesap Makinesi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotActivity"
            android:exported="false"
            android:label="Not Defteri"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RastgeleSifreActivity"
            android:exported="false"
            android:label="Rastgele Şifre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RastgeleNumaraActivity"
            android:exported="false"
            android:label="Rastgele Numara"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KuraActivity"
            android:exported="false"
            android:label="Kura Çek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>